{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="container my-4" style="border-radius: 20px; box-shadow: 0px 0px 61px 7px #f08f8f;">
    <div class="d-flex justify-content-center">
        <div class="container d-flex home">
            <div style="text-align: center;">
                <div class="banner home_animation2"><img src="/static/assets/elixir_christmas.png" alt="Elixir"
                        class="card-img"></div>
                <div class="home_animation1">
                    <p style="font-size: 1.2rem;"> Another aftermarket AOSP ROM which basically
                        offers minimal UI enhancement and close to Stock Android experience with pixel goodies, minimal
                        UI and customisation. Our aim is keep a perfectly balance between great </p>
                    <p style="font-weight: 600; font-size: 1.5rem; color: #f08f8f;"> Performance |
                        Security | Stability</p>
                    <p style="font-size: 1rem;"> How is this different you ask? Let's find out.
                    </p><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4" style="border-radius: 20px; box-shadow: 0px 0px 61px 7px #f08f8f;">
 <div class="row no-gutters feature_img" style="text-align: center;">
    <div class="col-md-8" style="margin-top: 3rem;">
        <div class="card-body">
            <h5 class="card-title f_head2" style="margin-top: 3rem;">WAIFUCLOCK<strong class="muted_text"> - Substratum
                    Theme </strong></h5>
            <p>Waifu-Clock one of the (Minimal/Japanese/Anime/Manga) related Substratum Theme.
                Which gives an art elegant experience to your Lockscreen &amp; HeaderClocks. Build &amp; Enable your
                Favourite Clocks Now</p><a _ngcontent-sqd-c63="" href="https://www.pling.com/p/1684224/"><a
                    class="btn shadow device-btn" style="margin-top: 3rem;">Download
                    Here</a></a><a href="https://telegram.me/waifu_clock"><a class="btn shadow device-btn"
                    style="margin-top: 3rem;">Support Group</a></a>
        </div>
    </div>
    <div class="col-md-4"><img class="container my-5" src="/static/assets/WAIFUCLOCK.png" alt="img" class="card-img faq"></div>
  </div>
</div>
{% endblock body %}